@mixin site-container() {
  padding-left: var(--spacing-3xl);
  padding-right: var(--spacing-3xl);
  @media #{$screen-xl} {
    padding-left: calc((100vw - 1250px) / 2);
    padding-right: calc((100vw - 1250px) / 2);
  }
}

@mixin hide {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}
